# Coverage.py is a tool for measuring code coverage of Python programs.
# for more info: https://coverage.readthedocs.io/en/latest/config.html
[run]
omit =
    yq_delta_lake_and_polars_poc/docs/*
    yq_delta_lake_and_polars_poc/tests/*
    yq_delta_lake_and_polars_poc/vendor/*
    yq_delta_lake_and_polars_poc/_version.py
    yq_delta_lake_and_polars_poc/cli.py
    yq_delta_lake_and_polars_poc/paths.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
